.btn {
  font-size: 2rem;
  float: right;
}

.user-form {
  font-family: "Century Gothic";
  font-size: 2rem;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-control {
  font-size: 2rem;
}

.password-field {
  font-size: 1rem;
}

.breadcrumb {
  font-size: 1.7rem;
}

.active {
  font-weight: bold;
}
