<ng-flash-message></ng-flash-message>
<div class="login-form-design">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <div class="form-group">
      <label>First name</label>
      <input type="text" formControlName="firstName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }"/>
      <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback">
        <div *ngIf="formControls.firstName.errors.required">First name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="text" formControlName="lastName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }"/>
      <div *ngIf="submitted && formControls.lastName.errors" class="invalid-feedback">
        <div *ngIf="formControls.lastName.errors.required">Last name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }"/>
      <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
        <div *ngIf="formControls.username.errors.required">Username is required</div>
        <div *ngIf="formControls.username.errors.email">Username must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }"/>
      <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
      <div *ngIf="formControls.password.errors?.minlength">
        Six characters minimum
      </div>
    </div>
    <label>User group</label>
    <div class="form-group">
      <select [(ngModel)]="selectedUserGroup" [ngModelOptions]="{standalone: true}" required>
        <option *ngFor="let userGroup of userGroups" [ngValue]="userGroup">
          {{userGroup.name}}
        </option>
      </select>
      <!--      <div *ngIf="submitted && formControls.userGroup.errors" class="invalid-feedback">-->
      <!--        &lt;!&ndash;        <div *ngIf="formControls.userGroup.errors.required">User group is required</div>&ndash;&gt;-->
      <!--      </div>-->
    </div>
    <label>Project manager</label>
    <div class="form-group">
      <select [(ngModel)]="selectedUserManager" [ngModelOptions]="{standalone: true}" required>
        <option *ngFor="let userManager of userManagers" [ngValue]="userManager">
          {{userManager.name}}
        </option>
      </select>
      <!--        <div *ngIf="submitted && formControls.userManager.errors" class="invalid-feedback">-->
      <!--          &lt;!&ndash;          <div *ngIf="formControls.userManager.errors.required">User manager is required</div>&ndash;&gt;-->
      <!--        </div>-->
    </div>
    <div id="saveButton" class="form-group">
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
