<div class="row">
  <div class="col-xs-2 pull-right">
    <img src="assets/img/Document_Management_Logo.png" class="img-responsive"
         (click)="redirectToHomePage('/home')"/>
  </div>
</div>
<ol class="breadcrumb">
  <li><a (click)="goToHomePage()">Home page</a></li>
  <li *ngIf="showAdminPageNavigation"><a (click)="goToAdminPage()">Admin page</a></li>
  <li *ngIf="showUserPageNavigation"><a (click)="goToArchivePage()">Archive page</a></li>
  <li><a class="active">{{route}}</a></li>
  <span class="align-right">
  <a (click)="logout()">Logout</a>
  </span>
</ol>
