.glyphicon {
  font-size: 250px;
  margin-top: 15%;
  margin-left: 30%;
  cursor: pointer;
}

.title-visible {
  visibility: hidden;
}

.icon-hover:hover .title-visible {
  visibility: visible;
  font-family: "Century Gothic";
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 0%;
  opacity: 0.5;
  padding-left: 30%;
  text-align: left;
}

.icon-hover:hover .glyphicon {
  opacity: 0.5;
}

.breadcrumb {
  font-size: 1.5rem;
}

.active {
  font-weight: bold;
}
