<div class="icon-hover">
  <div class="col-lg-4">
    <a class="glyphicon glyphicon-user" (click)="onNewUser()"></a>
    <h2 class="title-visible"> Add New user</h2>
  </div>
</div>
<div class="icon-hover">
  <div class="col-lg-4">
    <a class="glyphicon glyphicon-th-list" (click)="showUsersByGroup()"></a>
    <h2 class="title-visible">Show users</h2>
  </div>
</div>
<div class="icon-hover">
  <div class="col-lg-4">
    <a class="glyphicon glyphicon-tags" (click)="onNewUserGroup()"></a>
    <h2 class="title-visible"> Add new User Group </h2>
  </div>
</div>
