<img src="assets/img/print.png" (click)="downloadPDF()" alt="image"
     title="Print your project evaluation document to PDF">
<div id="sheetContent" #sheetContent>
  <div style="margin-left: 25px">
    <h3 class="main-title">Project evaluation</h3>
    <div>
      <label>Employee Name: {{appraisalSheet.employeeName}}</label>
    </div>
    <div>
      <label>Project Name: {{appraisalSheet.projectName}}</label>
    </div>
    <div>
      <label>Career Level: {{appraisalSheet.careerLevel}}</label>
    </div>
    <div>
      <label>Period: {{appraisalSheet.appraisalPeriod}}</label>
    </div>
    <div>
      <label>Manager: {{appraisalSheet.manager}}</label>
    </div>
  </div>
  <br>
  <ul>
    <li><h3 class="field-title">1. Are you satisfied working on this project?
    </h3>
<!--      <p>{{appraisalSheet.projectSatisfaction}}</p>-->
      <ul>
        <li><h4 class="field-subtitle">1.1 Do you find tasks difficult for your current skills?
        </h4>
          <p>{{appraisalSheet.tasksDifficult}}</p></li>
      </ul>
    </li>
    <li><h3 class="field-title">2. Do you often receive change requests?
    </h3>
<!--      <p>{{appraisalSheet.changeRequest}}</p>-->
      <ul>
        <li><h4 class="field-subtitle">2.1. Do you think that functional specification is clear enough?
        </h4>
          <p>{{appraisalSheet.functionalSpecification}}</p></li>
        <li><h4 class="field-subtitle">2.2 Do you find hard to follow the pace?
        </h4>
          <p>{{appraisalSheet.hardToFollow}}</p></li>
      </ul>
    </li>
    <li><h3 class="field-title">3. Do you consider yourself enough independent for solving the tasks?
    </h3>
      <p>{{appraisalSheet.independent}}</p></li>
    <li><h3 class="field-title">4. Describe the progress of the project
    </h3>
<!--      <p>{{appraisalSheet.suggestions}}</p>-->
      <ul>
        <li><h4 class="field-subtitle">4.1. Where do you think the project is headed in the next 5 months?
        </h4>
          <p>{{appraisalSheet.projectInFiveMonths}}</p></li>
        <li><h4 class="field-subtitle">4.2. What do you consider the biggest obstacle at this moment, and why?</h4>
          <p>{{appraisalSheet.obstacles}}</p></li>
        <li><h4 class="field-subtitle">4.3. What are the best sides and highlights right now?</h4>
          <p>{{appraisalSheet.best_sides_highlights}}</p></li>
        <li><h4 class="field-subtitle">4.4. Do you think that people working on this project are satisfied?</h4>
          <p>{{appraisalSheet.peopleSatisfaction}}</p></li>
      </ul>
    </li>
    <li><h3 class="field-title">5. Please describe progress in next topics like satisfactory or not, and why.
    </h3>
<!--      <p>{{appraisalSheet.peopleSatisfaction}}</p>-->
      <ul>
        <li><h4 class="field-subtitle">5.1. financial situation
        </h4>
          <p>{{appraisalSheet.financialSituation}}</p></li>
        <li><h4 class="field-subtitle">5.2. human resources
        </h4>
          <p>{{appraisalSheet.humanResources}}</p></li>
        <li><h4 class="field-subtitle">5.3. scope
        </h4>
          <p>{{appraisalSheet.scope}}</p></li>
        <li><h4 class="field-subtitle">5.4. time
        </h4>
          <p>{{appraisalSheet.time}}</p></li>
      </ul>
    </li>
    <li><h3 class="field-title">6. Describe feedback you are getting from the client up to now.
    </h3>
      <p>{{appraisalSheet.feedbackFromClient}}</p></li>
    <li><h3 class="field-title">7. What are your suggestions for improving current process on this project?
    </h3>
      <p>{{appraisalSheet.improvingProcess}}</p></li>
    <li><h3 class="field-title">8. Do you have any suggestions?
    </h3>
      <p>{{appraisalSheet.suggestions}}</p></li>
  </ul>
</div>




