.btn {
  margin-right: 10px;
  font-size: 2rem;
}

.login-form {
  font-family: "Century Gothic";
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-control {
  font-size: 3rem;
}

.password-field {
  font-size: 2rem;
}
