<div class="row">
  <div class="col-xs-2 pull-right">
    <img src="assets/img/Document_Management_Logo.png" class="img-responsive"/>
  </div>
</div>
<ng-flash-message></ng-flash-message>
<div class="login-form-design">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label>Username</label>
      <input type="text" placeholder="Username" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }"/>
      <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
        <div id="usernameError" *ngIf="formControls.username.errors.required">Username is required</div>
        <div id="emailError" *ngIf="formControls.username.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" placeholder="Password" formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }"/>
      <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
        <div id="passwordError" *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Login</button>
      <a href="#" class="password-field">Forgot password?</a>
    </div>
  </form>
</div>

