.glyphicon {
  font-size: 250px;
  padding: 25%;
  margin-top: 15%;
}

.title-visible {
  visibility: hidden;
}

.icon-hover:hover .title-visible {
  visibility: visible;
  font-family: "Century Gothic";
  font-size: 5rem;
  font-weight: bold;
  margin-left: 5%;
  opacity: 0.5;
  padding-left: 20%;
  text-align: left;
}

.icon-hover:hover .glyphicon {
  opacity: 0.5;
}
