<div class="icon-hover">
  <div class="col-xs-4">
    <a class="glyphicon glyphicon glyphicon-pencil" (click)="onNewSheet()"></a>
    <h2 class="title-visible"> Create Appraisal Sheet</h2>
  </div>
</div>
<div class="icon-hover">
  <div class="col-xs-4">
    <a class="glyphicon glyphicon-folder-open" (click)="onArchive()"></a>
    <h2 class="title-visible"> Archive </h2>
  </div>
</div>
<div class="icon-hover">
  <div class="col-xs-4">
    <a class="glyphicon glyphicon-wrench" (click)="onAdminPage()"></a>
    <h2 class="title-visible"> Admin page </h2>
  </div>
</div>
