.role-name-style {
  font-weight: bold;
  font-size: 1.8rem;
}

.role-description-style {
  font-style: italic;
  font-size: 1.6rem;
}

.title {
  font-size: 2.5rem;
  color: lightskyblue;
  cursor: pointer;
}

.list-group-item {
  border-right: none;
  border-left: none;
  margin-left: 1%;
  cursor: pointer;
}

.btn-size {
  margin-top: 2%;
}

.col-xs-6 {
  margin-top: 2%;
}

.col-sm-2 {
  text-align: left;
}

.breadcrumb {
  font-size: 1.7rem;
}

.active {
  font-weight: bold;
}
