<div id="content" #content>
  <div class="container text-center">
    <h1>Search your document</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-appraisal-sheet">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
               placeholder="&#61442; Start searching document">
      </div>
      <app-loading-spinner *ngIf="showSpinner; else showAppraisalSheets"></app-loading-spinner>
    </div>
  </div>
  <ng-template #showAppraisalSheets>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let projectEvaluation of projectEvaluations | filter:searchText;  let i = index;">
        <td>{{i + 1}}</td>
        <td>{{projectEvaluation.employeeName + "_" + projectEvaluation.date.substring(0, 10)}}</td>
        <td><span *ngIf="projectEvaluation.locked == true; else statusUnlocked">Locked</span></td>
        <ng-template #statusUnlocked>
          Unlocked
        </ng-template>
        <td>
          <button class="btn btn-primary" *ngIf="showEditButton" (click)="editDocument(projectEvaluation)">Edit</button>
          <button id="documentId" class="btn btn-primary" (click)="openDocument(projectEvaluation)">Info</button>
          <button class="btn btn-danger" *ngIf="showUnlockButton" (click)="unlockDocument(projectEvaluation)">Unlock
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>
